body {
}
table{
    border:2px double red; 
    border-collapse:collapse;
    width:40%;

}
tr:nth-child(2n+1)
{
    background-color:yellow;
}
tr:nth-child(2n) {
    background-color: blueviolet;
}
tr:first-child {
    background-color: burlywood;    
}
th {
    border: 2px double red;
}
td {
    border: 2px double red;
}
